
.expbtn {
    width: 150px;
  height: 70px;
    color: #cbe0f5;
    text-transform: uppercase;
    text-decoration: none;
    border: 1px solid #a5b7c9;
    font-size: 15px;
    font-weight: bold;
    background: transparent;
    position: relative;
    transition: all 1s;
    overflow: hidden;
    margin-left: 160px;
    border-radius: 15px;


  }

  .expbtn:hover {
    transition: 1s ease-in-out;
  background: #0f5296;
    color: white;
  }
  
  .expbtn::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 0%;
    top: 0;
    left: -40px;
    transform: skewX(45deg);
    background-color:#4e94da;
    z-index: -1;
    transition: all 1s;
  }
  
  .expbtn:hover::before {
    width: 160%;
  }